section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  input {
    border: 1px solid #8257e6 !important;
    border-radius: 3px;
    margin: 16px 0;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  ul {
    list-style-type: none;

    li {
      & + li {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}
